[Desktop Entry]
Encoding=UTF-8
Name=Richcoin
Comment=Richcoin P2P Cryptocurrency
Comment[fr]=Richcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Richcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/richcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/richcoin80.xpm
MimeType=x-scheme-handler/richcoin;
Categories=Office;
