#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_richcoin
#build/richcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_richcoin)

DEB_INSTALL_EXAMPLES_richcoind += debian/examples/*
DEB_INSTALL_MANPAGES_richcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix richcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f richcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake richcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_richcoin
	src/test_richcoin

# Ensure wrapper is set executable
binary-post-install/richcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/richcoind
binary-post-install/richcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/richcoin-qt
